<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Bootstrap core CSS -->
        <link href="bootstrap_theme/bootstrap.css" rel="stylesheet" type="text/css">
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="blocks.css">
        <link href="style.css" rel="stylesheet">
        <title data-slot="title">{{title}}</title>
        <style>{{bannerCss}}</style>
    </head>
    <body class="text-muted" data-site="{{id}}" data-raw="{{raw}}">
        <header class="bg-dark">
            <nav class="navbar navbar-dark navbar-expand-lg shadow-none"> 
                <div class="container"> <a class="align-items-center d-inline-flex fw-bold h4 mb-0 navbar-brand text-uppercase" href={{homeUrl}}>
                    {{!-- <svg version="1.0" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 100 100" width="2.5em" height="2.5em" class="me-1" fill="currentColor">
                            <path d="M38.333 80a11.571 11.571 0 0 1-7.646-2.883A11.724 11.724 0 0 1 26.834 70H10V46.667L43.333 40l20-20H90v26.667H43.995l-27.328 5.465v11.2h11.166a11.787 11.787 0 0 1 4.212-4.807 11.563 11.563 0 0 1 12.577 0 11.789 11.789 0 0 1 4.213 4.807h7.833V70h-6.837a11.719 11.719 0 0 1-3.853 7.117A11.571 11.571 0 0 1 38.333 80Zm0-16.667a5 5 0 1 0 5 5 5.006 5.006 0 0 0-5.001-5Zm27.761-36.666L52.762 40h30.571V26.667Z"/>
                            <path d="M56.667 63.333h-7.833a11.6 11.6 0 0 0-21 0H16.667v-11.2l27.328-5.465h12.672Z" opacity="0.2"/>
                            <path d="M90 63.333H80v-10h-6.667v10h-10V70h10v10H80V70h10Z"/>
                            <path d="M52.762 40h30.571V26.667H66.094Z" opacity="0.2"/>
                        </svg> --}}
                    <svg class="me-2" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"  width="2em" height="2em" fill="currentColor">
                        <path d="M0 311.936l469.632 222.272V1024L0 800.96V311.936zM512.832 0l509.632 223.04L513.28 461.696 0 222.016 512.832 0zM1024 311.936v489.024L555.2 1022.72V534.208L1024 311.936z"></path>
                    </svg>
                    <span data-slot="companyName">{{companyName}}</span></a> 
                    <button class="navbar-toggler rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown-2" aria-controls="navbarNavDropdown-2" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> 
                    </button>                     
                    <div class="collapse navbar-collapse " id="navbarNavDropdown-2"> 
                        <ul class="me-auto navbar-nav">
                            {{#each links}}
                                <li class="nav-item"> <a class="nav-link p-lg-3" href={{href}}>{{name}}</a>
                                </li>
                            {{/each}}
                        </ul>
                        <div class="d-flex flex-wrap gap-2 py-1">                              
                        </div>                         
                    </div>                     
                </div>                 
            </nav>
        </header>
        <main>
            <section id="banner" data-url={{banner.image}} data-slot="banner.image" data-size="full" data-type="bgImg" class="bg-secondary pb-5 position-relative poster pt-5 text-white-50"
                style="background-image: url({{banner.image}});"
            >
                <div class="container mt-5 pb-5 pt-5">
                    <div class="mt-5 pt-5 row">
                        <div class="col-md-10 pt-5 blur-bg banner-fg-vibrant-dark" id="banner-txt">
                            <p data-slot="hero.title" class="fw-bold h4 auto-color">{{hero.title}}</p>
                            <h1 data-slot="hero.desc" class="display-3 fw-bold mb-4 auto-color">{{hero.desc}}</h1>
                            {{!-- <div class="bg-white p-4">
                                <h2 class="fw-bold h5 mb-3 text-dark"></h2>
                                <form role="form"> 
                                    <div class="align-items-center gx-2 gy-3 row">
                                        <div class="col-sm"> 
                                            <input type="text" class="form-control pb-2 pe-3 ps-3 pt-2 rounded-0" placeholder="Enter your pickup location..."> 
                                        </div>
                                        <div class="col-sm-4"> 
                                            <input type="date" class="form-control pb-2 pe-3 ps-3 pt-2 rounded-0"> 
                                        </div>
                                        <div class="col-sm-auto text-end"> 
                                            <button type="submit" class="btn btn-primary pb-2 pe-4 ps-4 pt-2">Search
</button>                                             
                                        </div>
                                    </div>                                     
                                </form>
                            </div> --}}
                        </div>
                    </div>
                </div>
                <div class="banner-more-btn banner-fg-vibrant-dark">
                    <a type="submit" class="btn btn-outline-light pb-2 pe-3 ps-3 pt-2 me-2" href="#about"> 
                        <svg fill="currentColor" class="me-3" width="1.5em" height="1.5em" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M159.417291 157.449985l352.753089 343.768461 357.257683-345.263511 41.97602 1.49505-399.233704 422.216137-399.221424-422.216137L159.417291 157.449985zM159.417291 438.754812l352.753089 343.769484L869.428064 437.763229l41.97602 0.991584-399.233704 422.717557-399.221424-422.717557L159.417291 438.754812z"></path></svg>
                        <span class="align-middle">更多</span>
                    </a>
                </div>
                
            </section>
            <section class="pb-5 pt-5">
                <div class="container pb-5 pt-5"> 
                    <div class="align-items-center gx-0 gy-5 mb-5 row"  id="about"> 
                        <div class="col-lg-7"> 
                            <img data-slot="about.image" data-type="img" data-size="full" src={{about.image}} class="img-fluid w-100" alt="..." width="1000" height="650"/> 
                        </div>
                        <div class="col-lg-5">
                            <div class="bg-white ms-lg-n5  pb-lg-5 position-relative ps-lg-5 pt-lg-5">
                                <h2 data-slot="about.about" class="h5 text-primary">{{about.about}}</h2>
                                <h3 data-slot="about.title" class="fw-bold h1 mb-3 text-capitalize text-dark">{{about.title}}</h3>
                                <div class="bg-primary col-2 d-inline-flex mb-3 pb-1"></div>
                                <div class="mb-4" data-slot="about.content" nested="true">{{{about.content}}}</div>
                                <a href="#contact" class="btn btn-primary pb-2 pe-4 ps-4 pt-2">{{about.more}}</a>
                            </div>                             
                        </div>                         
                    </div>
                    <div class="align-items-center gy-4 row"  id="feature"> 
                        <div class="col-lg-4 col-xl-3 me-auto"> 
                            <h4 class="fw-bold h3 text-capitalize text-dark"  data-slot="feature.title">{{feature.title}}</h4>
                            <p data-slot="feature.desc" class="mb-0">{{feature.desc}}</p>
                        </div>
                        <div class="col-lg-8"> 
                            <div class="row row-cols-lg-3 row-cols-md-3"> 
                                {{#each feature.list}}
                                    <div class="pb-3 pt-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65 65" xml:space="preserve" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2" stroke="currentColor" width="5rem" height="5rem" class="mb-3 text-primary">
                                        <path d="M13 50v-1.849a2.73 2.73 0 0 0-.741-1.87l-4.038-4.293A4.499 4.499 0 0 1 7 38.907V21.998A2.998 2.998 0 0 1 9.998 19h.004A2.999 2.999 0 0 1 13 21.998V27m38 23v-1.849c0-.695.265-1.364.741-1.87l4.038-4.293A4.499 4.499 0 0 0 57 38.907V21.998A2.998 2.998 0 0 0 54.002 19h-.004A2.999 2.999 0 0 0 51 21.998V27M29 56.379v-4.933c0-.383-.152-.751-.424-1.022A1.442 1.442 0 0 0 27.554 50H13.446c-.383 0-.751.152-1.022.424A1.442 1.442 0 0 0 12 51.446v4.933m23 0v-4.933c0-.383.152-.751.424-1.022A1.442 1.442 0 0 1 36.446 50h14.108c.383 0 .751.152 1.022.424.272.271.424.639.424 1.022v4.933" fill="none" stroke-width="2"/>
                                        <path d="M28 50v-5.491c0-2.439-1-4.771-2.767-6.453l-7.49-7.13a2.71 2.71 0 0 0-3.785.047l-.002.002a2.767 2.767 0 0 0 0 3.912l4.527 4.527M36 50v-5.491c0-2.439 1-4.771 2.767-6.453l7.49-7.13a2.71 2.71 0 0 1 3.785.047l.002.002a2.767 2.767 0 0 1 0 3.912l-4.527 4.527M22.25 16.464a1.499 1.499 0 0 1 1.5-1.5h3.75a1.5 1.5 0 0 0 1.5-1.5V9.5A1.5 1.5 0 0 1 30.5 8h3A1.5 1.5 0 0 1 35 9.5v3.964a1.5 1.5 0 0 0 1.5 1.5h3.75a1.5 1.5 0 0 1 1.5 1.5V19.5a1.503 1.503 0 0 1-1.5 1.5H36.5a1.503 1.503 0 0 0-1.5 1.5v4a1.5 1.5 0 0 1-1.5 1.5h-3a1.5 1.5 0 0 1-1.5-1.5v-4a1.503 1.503 0 0 0-1.5-1.5h-3.75a1.503 1.503 0 0 1-1.5-1.5v-3.036z" fill="none" stroke-width="2"/>
                                    </svg>
                                    <h4 class="fw-bold h5 mb-0 text-dark" data-slot="feature.list.{{@index}}.title">{{title}}</h4> 
                                    <p data-slot="feature.list.{{@index}}.desc" class="mb-0">{{desc}}</p>
                                </div>
                                {{/each}}                                 
                            </div>                             
                        </div>                         
                    </div>                     
                </div>
            </section>
            <section class="bg-light pb-5 pt-5" id="products"> 
                <div class="container pb-5 pt-5">
                    <div class="mb-4 row">
                        <div class="col-md">
                            <h2 class="h5 text-primary" data-slot="products.title">{{products.title}}</h2>
                            <h3 class="fw-bold h1 mb-3 text-dark" data-slot="products.desc">{{products.desc}}</h3>
                            <div class="bg-primary col-2 d-inline-flex mb-3 pb-1"></div>
                        </div>
                    </div>
                    <div class="g-4 justify-content-center row row-cols-lg-3 row-cols-md-2">
                        {{#each products.list}}
                            <div> 
                                <div class="bg-white border shadow-sm"> <a href="#"><img data-slot="products.list.{{@index}}.image" data-size="600*450" data-type="img" src={{image}} class="img-fluid w-100" alt="..." width="600" height="450"></a>
                                    <div class="p-4">
                                        <h4 class="fw-bold h5"><a href="" class="link-secondary text-decoration-none"  data-slot="products.list.{{@index}}.title">{{title}}</a></h4>
                                        <p class="small"  data-slot="products.list.{{@index}}.desc">{{desc}}</p>
                                        <hr>
                                        {{!-- <div class="align-items-center d-flex justify-content-between">
                                            <div class="align-items-center d-inline-flex gap-1 pb-1 pt-1"><span>4.7</span>
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.125em" height="1.125em" class="text-primary">
                                                    <g>
                                                        <path fill="none" d="M0 0h24v24H0z"></path>
                                                        <path d="M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928z"></path>
                                                    </g>
                                                </svg><span>(245 reviews)</span>
                                            </div><span class="fw-bold pb-1 pt-1 text-dark">$40/day</span>
                                        </div> --}}
                                    </div>                                 
                                </div>                             
                            </div> 
                        {{/each}}                       
                    </div>
                    {{!-- <div class="mt-5 text-center"><a href="#" class="btn btn-primary pb-2 pe-4 ps-4 pt-2">View All Cars</a>
                    </div>                      --}}
                </div>                 
            </section>
            {{!-- <section class="pb-5 pt-5"> 
                <div class="container pb-5 pt-5">
                    <div class="align-items-center mb-4 row">
                        <div class="col-md">
                            <h2 class="h5 text-primary">Our Fleet</h2>
                            <h3 class="fw-bold h1 mb-3 text-capitalize text-dark">Browse by Category</h3>
                            <div class="bg-primary col-2 d-inline-flex mb-3 pb-1"></div>
                        </div>
                        <div class="col-md-auto"><a href="#" class="btn btn-primary pb-2 pe-4 ps-4 pt-2">View All</a>
                        </div>
                    </div>
                    <div class="g-4 justify-content-center row row-cols-lg-4 row-cols-md-2"> 
                        <div> <a href="#" class="bg-white border d-block link-dark shadow-sm text-decoration-none"><img src="https://images.unsplash.com/photo-1619767886558-efdc259cde1a?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDMyM3x8c3V2fGVufDB8fHx8MTYzMTY4Njc4Nw&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=600&h=450&fit=crop" class="img-fluid w-100" alt="..." width="600" height="450"><div class="pb-3 pe-4 ps-4 pt-3">
                                    <h4 class="fw-bold h5 mb-0">Sedans</h4>
                                </div></a> 
                        </div>
                        <div> <a href="#" class="bg-white border d-block link-dark shadow-sm text-decoration-none"><img src="https://images.unsplash.com/photo-1511527844068-006b95d162c2?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDQzfHxjYXIlMjBzdXZ8ZW58MHx8fHwxNjMxNjg0ODkw&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=600&h=450&fit=crop" class="img-fluid w-100" alt="..." width="600" height="450"><div class="pb-3 pe-4 ps-4 pt-3">
                                    <h4 class="fw-bold h5 mb-0">SUVs</h4>
                                </div></a> 
                        </div>
                        <div> <a href="#" class="bg-white border d-block link-dark shadow-sm text-decoration-none"><img src="https://images.unsplash.com/photo-1597210159614-966c9f632c89?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDh8fGNhciUyMGNvbnZlcnRpYmxlfGVufDB8fHx8MTYzMTY4NTExMA&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=600&h=450&fit=crop" class="img-fluid w-100" alt="..." width="600" height="450"><div class="pb-3 pe-4 ps-4 pt-3">
                                    <h4 class="fw-bold h5 mb-0">Convertibles</h4>
                                </div></a> 
                        </div>
                        <div> <a href="#" class="bg-white border d-block link-dark shadow-sm text-decoration-none"><img src="https://images.unsplash.com/photo-1552519507-da3b142c6e3d?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDMwfHxzcG9ydHMlMjBjYXJ8ZW58MHx8fHwxNjMxNjg3MzQ4&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=600&h=450&fit=crop" class="img-fluid w-100" alt="..." width="600" height="450"><div class="pb-3 pe-4 ps-4 pt-3">
                                    <h4 class="fw-bold h5 mb-0">Sports Cars</h4>
                                </div></a> 
                        </div>                         
                    </div>                     
                </div>                 
            </section> --}}
            <section class="bg-dark pb-5 pt-5 text-white-50"> 
                <div class="container pb-5 pt-5"> 
                    <div class="mb-4 row">
                        <div class="col-md">
                            <h2 class="h5 text-primary"  data-slot="news.news">{{news.news}}</h2>
                            <h3 class="fw-bold h1 mb-3 text-white">What Our Customers Say About Us</h3>
                            <div class="bg-primary col-2 d-inline-flex mb-3 pb-1"></div>
                        </div>
                    </div>
                    <div id="carousel6" class="carousel slide" data-bs-ride="carousel"> 
                        <div class="carousel-inner">
                            {{#each news.list}}
                                <div class="carousel-item {{#if active}}active{{/if}}"> 
                                    <div class="align-items-center row"> 
                                        <div class="col-lg-4 pb-3 pt-3"> 
                                            <img data-slot="news.list.{{@index}}.image" data-size="360*360" data-type="img" src={{image}} class="img-fluid" alt="..." width="360" height="360"> 
                                        </div>                                     
                                        <div class="col-lg-8 pb-3 pt-3"> 
                                            <svg viewBox="0 0 24 24" fill="currentColor" height="64" width="64" class="mb-3 text-primary"> 
                                                <path d="M23 1V5.06504C21.9136 5.67931 21.0807 6.43812 20.5012 7.34146C19.958 8.24481 19.5416 9.20235 19.2519 10.2141C18.9621 11.2258 18.8173 12.346 18.8173 13.5745H23V22.4634H14.0914V16.935C14.0914 13.6107 14.3992 11.0813 15.0148 9.34688C15.6667 7.61246 16.6444 6.02258 17.9481 4.57723C19.2519 3.09575 20.9358 1.90334 23 1ZM9.90864 1V5.06504C8.82222 5.67931 7.9893 6.43812 7.40988 7.34146C6.83045 8.24481 6.39588 9.20235 6.10617 10.2141C5.81646 11.2258 5.67161 12.346 5.67161 13.5745H9.90864V22.4634H1V16.935C1 13.6107 1.30782 11.0813 1.92346 9.34688C2.57531 7.61246 3.55309 6.02258 4.85679 4.57723C6.16049 3.09575 7.84444 1.90334 9.90864 1Z"/> 
                                            </svg>                                         
                                            <p class="fs-5 mb-4"   data-slot="news.list.{{@index}}.txt">{{txt}}</p> 
                                            <h4 class="fw-bold mb-1 text-primary"   data-slot="news.list.{{@index}}.title">{{title}}</h4> 
                                            <p class="mb-0 text-white"   data-slot="news.list.{{@index}}.desc">{{desc}}</p> 
                                        </div>                                     
                                    </div>                                 
                                </div>    
                            {{/each}}
                        </div>                         
                        <ol class="carousel-indicators position-relative"> 
                            {{#each news.list}}
                                <li data-bs-target="#carousel6" data-bs-slide-to={{index}} class="{{#if active}}active{{/if}} bg-primary"></li>                             
                            {{/each}}
                        </ol>                         
                    </div>                     
                </div>                 
            </section>
            <section class="bg-primary pb-5 pt-5 text-center text-white-50">
                <div class="container pb-3 pt-3"> 
                    <h2 class="fw-bold h2 mb-4 text-capitalize text-white">产品咨询 &amp; 商业合作</h2>
                    <form>
                        <div class="bg-white border border-gray-300 flex overflow-hidden p-1 rounded-full center-block">
                            <input id="contact" class="appearance-none flex-1 outline-none px-4 py-1 text-gray-600 w-full" placeholder="请输入您的手机号或邮箱，客服稍后与您联系" type="text" required=""/>
                            <div class="d-inline-flex flex-wrap gap-2 py-1"> 
                                <button type="submit" class="btn btn-outline-light pb-2 pe-3 ps-3 pt-2 me-2"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" fill="currentColor" class="me-3" width="1.5em" height="1.5em">
                                        <path d="M439.488 960l124.416-169.984-124.416-35.84L439.488 960 439.488 960 439.488 960M0 559.936l353.472 107.072 435.328-369.6-337.408 398.144 377.92 116.736L1024 64.064 0 559.936 0 559.936 0 559.936M0 559.936" p-id="2325"></path>
                                    </svg>
                                    <span class="align-middle">提交</span>
                                </button>
                            </div>  
                        </div>
                    </form>  
                                       
                </div>                 
            </section>
            <footer class="bg-dark pt-5 text-white"> 
                <div class="container" id="footer">
                    <div class="row"> 
                        <div class="col-md col-sm-6 py-3 footer-block"> 
                            <h2 class="fw-bold h5 mb-0 text-info">品牌故事</h2>
                            <hr class="d-inline-block mb-4 w-25">
                            <div class="bottom-paragh" align="left" data-slot="footer.story" nested="true">
                                {{{footer.story}}}
                            </div>
                        </div>
                        <div class="col-md col-sm-6 py-3 footer-block"> 
                            <h2 class="fw-bold h5 mb-0 text-info">联系我们</h2>
                            <hr class="d-inline-block mb-4 w-25">                          
                            <ul class="labeled-icons">
                                <li>
                                    <svg class="icon" viewBox="0 0 1024 1024" version="1.1" fill="currentColor" xmlns="http://www.w3.org/2000/svg" p-id="10498" width="36px" height="36px"><path d="M63.3 959.2v-63.1h897v63.1h-897z m112.2-96.1V545.7l336.4-336.4 336.4 336.4v317.4H624V622.8H399.7v240.3H175.5z m336.3-723.9L98.4 552.7l-35-42L511.8 62.1 659 209.3V97.2h154.2v266.3l147.2 147.2-35 42-413.6-413.5z" p-id="10499"></path></svg>
                                    {{contact.address}}
                                </li>
                                <li>
                                    <h4 class="icon fa-phone">
                                        <svg class="icon" viewBox="0 0 1024 1024" version="1.1" fill="currentColor" xmlns="http://www.w3.org/2000/svg" p-id="5876" width="36px" height="36px"><path d="M398.652952 165.692952c-32.280381-46.006857-58.172952-61.318095-92.867047-54.808381-14.969905 2.80381-24.210286 7.850667-41.20381 22.528l-12.946285 11.361524-25.185524 20.894476-6.582857 5.753905c-3.705905 3.413333-6.38781 6.217143-9.825524 10.118095-64 72.46019-81.724952 185.782857-44.470857 292.327619 26.794667 76.55619 74.605714 152.624762 142.774857 228.644572 72.289524 80.62781 133.046857 131.364571 202.922666 168.374857 54.857143 29.013333 96.865524 41.74019 145.676191 43.227429 59.001905 1.828571 110.957714-11.50781 153.648762-39.15581a162.133333 162.133333 0 0 0 19.553524-15.189333l8.289523-7.558095 16.335239-15.213715 5.534476-4.924952 10.922666-9.435429c22.040381-19.651048 29.184-31.939048 30.646858-51.370666 2.194286-29.647238-11.215238-52.736-49.737143-85.699048l-26.063238-21.820952-12.117334-10.581334-11.459047-9.825524c-37.229714-30.744381-64.804571-40.69181-100.205715-35.35238-24.283429 3.632762-38.278095 12.141714-63.073523 38.107428l-10.947048 11.654095c-18.041905 19.017143-28.330667 26.258286-43.544381 29.305905-22.25981 4.461714-44.373333-7.046095-80.262095-36.205714-46.250667-37.546667-84.626286-80.676571-117.613715-131.949714-22.869333-35.766857-31.890286-62.902857-24.941714-87.600762 2.82819-9.99619 9.679238-17.042286 24.064-28.184381l14.994286-11.312762 2.413714-1.877334 22.747429-18.553904c20.114286-16.822857 28.281905-28.281905 32.572952-45.836191 8.899048-36.10819 0.487619-66.072381-32.426667-117.638095l-15.62819-24.234667-5.558857-8.533333-6.436572-9.435429z" p-id="5877"></path></svg>
                                    </h4>
                                    {{contact.phone}}
                                </li>
                                <li>
                                    <h4 class="icon fa-envelope">
                                        <svg class="icon" viewBox="0 0 1024 1024" version="1.1" fill="currentColor" xmlns="http://www.w3.org/2000/svg" p-id="11526" width="36px" height="36px"><path d="M512.012041 630.535466l415.548448-346.226152c-2.25174-0.409407-4.274694-1.348636-6.610724-1.348636L103.074318 282.960677c-2.287865 0-4.32286 0.927187-6.5746 1.348636L512.012041 630.535466zM958.133584 320.144497c0-3.901411-1.071684-7.513829-2.25174-11.06604L661.313264 554.602446l295.014111 295.074318c0.758608-2.974224 1.806209-5.840075 1.806209-9.055127L958.133584 320.144497zM68.15428 309.042333c-1.143932 3.576294-2.287865 7.140546-2.287865 11.102164l0 520.465099c0 3.251176 1.119849 6.104986 1.854374 9.07921l295.110442-295.098401L68.15428 309.042333zM632.582502 578.492568l-108.697648 90.539229c-3.407714 2.901976-7.622201 4.298777-11.872813 4.298777-4.214487 0-8.453057-1.396802-11.896896-4.298777l-108.601317-90.491063L94.079398 875.963123c2.926058 0.770649 5.828034 1.842333 8.99492 1.842333l817.887488 0c3.227093 0 6.129069-1.059643 9.115334-1.842333L632.582502 578.492568z" p-id="11527"></path></svg>
                                    </h4>
                                    <a style="cursor:pointer">
                                        {{contact.email}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-5 py-3 footer-block"> 
                            <h2 class="fw-bold h5 mb-0 text-info">关注微信</h2>
                            <hr class="d-inline-block mb-4 w-25">
                            <div class="gy-3 row row-cols-sm-2">
                                <div id="qr-footer" style="background-image: url(&quot;https://assets.greatermaker.cn/images/webinfra-qr.jpg&quot;);">
                                </div> 
                            </div>                             
                        </div>                         
                    </div>
                    <hr></hr>                    
                    <div class="pb-3 pt-3"> 
                        <hr class="border-secondary mt-0"> 
                        <div class="align-items-center row">
                            <div class="col-md pb-2 pt-2">
                                <p class="mb-0" data-slot="footer.txt" >{{footer.txt}}</p>
                            </div>
                            <div class="col-md-auto pb-2 pt-2"><a href={{homeUrl}} class="link-light">返回首页</a></div>
                        </div>                         
                    </div>                     
                </div>                 
            </footer>
            {{!-- <div id="floatings">
                <a id="goTopBtn" class="" href="#banner">
                    <i class="icon fa-rocket">
                    </i>
                    <span>
                        回到顶部
                    </span>
                </a>
            </div> --}}
            
        </main>
        <script src="assets/js/popper.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/worker.bundle.js"></script>
    </body>
</html>
